.preset {
    position: relative;
    padding: 12px 14px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,255,0.04);
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.preset:hover {
    color: #202080;
}

.preset--selected {
    background-color: #FAFAFF;
}

.preset--selected::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    bottom: 8px;
    width: 4px;
    background-color: #202060;
    border-radius: 0 4px 4px 0;
}