.preset__list {
    display: flex;
    flex-direction: column;
    min-height: 165px;
    height: 270px;
    max-height: 270px;
    overflow-y: auto;
}

.preset__list .preset + .preset {
    margin-top: 8px;
}