body {
  background-color: #F0F0F6;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding-top: 80px;
}

.app__column {
  display: flex;
  flex-direction: column;
}

section.app-section {
  margin: 8px;
  min-width: 320px;
  max-width: 640px;
  width: 100vw;
}

.app-section header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.app-section header h1 {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
}

.app-section header button {
  height: 28px;
  padding: 0 20px;
  background-color: #101030;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0,0,255,0.04);
  color: #FFFFFF;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.app-section header button:hover {
  background-color: #202060;
}

.preset-editor {
  padding: 0;
}

.preset-editor__code {
  display: block;
  padding: 8px;
  width: 100%;
  min-height: 200px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  resize: vertical;
}

@media screen and (max-width: 656px) {
  section.app-section {
    margin: 8px 0;
  }
}